@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif; 
}

:root {
    --board-size: 10;
    --cell-size: clamp(20px, 5vw, 40px);
    --clr-bg: #d3d3d3;
    --clr-ship: #616161;
    --clr-miss: rgb(0, 56, 96);
    --clr-hit: maroon;
    --clr-accent: #004272;
    --clr-border: rgb(127, 127, 127);
}

body {
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--clr-bg);
}

.header {
    font-family: "Black Ops One", system-ui;
    text-transform: uppercase;
    font-size: clamp(1rem, 5rem, 12vw);
    color: var(--clr-accent);
}

.message {
    font-size: clamp(1rem, 1.5rem, 2.5vw);
    text-align: center;
}

.field {
    width: clamp(300px, 90%, 900px);
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 5rem;
}

.field > div {
    display: flex;
    
    flex: 1;
    justify-content: center;

}

.buttons {
    display: flex;
    width: 50%;
    gap: 1rem;
    justify-content: space-evenly;
}

button {
    font-size: clamp(1rem, 2rem, 6vw);
    font-family: "Black Ops One", system-ui;
    background: none;
    border: none;
    cursor: pointer;
}

button:not(button:disabled):hover {
    color: var(--clr-accent);
}



/* SHIPS SELECT */

.ships-select {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.ship-item {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
}

.ship-body {
    display: grid;
    grid-template-columns: repeat(5, var(--cell-size));
    grid-auto-columns: var(--cell-size);
    grid-template-rows: var(--cell-size);
    cursor: move;
}

.ships-select .ship.cell:first-child::after,
.ship.cell.draggable::after {
    content: url(images/arrow.svg);
    width: 100%;
    height: 100%;
    scale: 0.5;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(285deg) brightness(101%) contrast(104%);
    cursor: move;
}


/* BOARD */

.board {
    display: grid;
    grid-template-columns: repeat(var(--board-size), var(--cell-size));
    grid-template-rows: repeat(var(--board-size), var(--cell-size));
    border: 2px solid black;
}

.board-computer {
    display: none;
}

.board-computer .cell:hover {
    background-color: #808080;
}

.cell {
    background: none;
    border: 1px solid var(--clr-border);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell.miss::after {
    content: '\2600';
    color: var(--clr-miss);
    font-weight: bolder;
}

.cell.ship {
    background-color: var(--clr-ship);
    border: 2px solid black;
    border-radius: 2px;
}

.cell.sunk {
    background-color: var(--clr-hit)
}


.cell.hit::after {
    content: '\2717';
    color: var(--clr-hit);
    font-weight: bolder;
}

.cell.sunk.hit::after,
.cell.ship.hit::after {
    color: white;
    
}



@media (max-width: 900px) {
    body {
        justify-content: flex-start;
    }
    .buttons {
        width: 100%;
        gap: 0;
    }
    .field {
        flex-direction: column;
    }
}