@import "./vars.scss";

.board {
  display: grid;
  grid-template-columns: repeat(calc($board-size) + 1, $cell-size);
  grid-template-rows: repeat(calc($board-size) + 1, $cell-size);
  transform: translateX(calc(0px - $cell-size) / 2);
}

.board-computer {
  display: none;
}

.board-computer .cell:hover {
  background-color: #808080;
}

.columns,
.rows {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  background: none;
  border: 1px solid $clr-border;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell.miss::after {
  content: "\2733";
  color: $clr-miss;
  font-weight: bolder;
}

.cell.ship {
  background-color: $clr-ship;
  border: 2px solid black;
  border-radius: 2px;
}

.cell.sunk {
  background-color: $clr-hit;
}

.cell.hit::after {
  content: "\2717";
  color: $clr-hit;
  font-weight: bolder;
}

.cell.sunk.hit::after,
.cell.ship.hit::after {
  color: white;
}
